# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [ ]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1.head()
cars1 = cars1.loc[:, :'car']

### Step 5. What is the number of observations in each dataset?

In [10]:
print(f'# of Cars1: {len(cars1)}')
print(f'# of Cars: : {len(cars2)}')

print(f'Columns are same? {set(cars1.columns) == set(cars2.columns)}')

# of Cars1: 198
# of Cars: : 200
Columns are same? True

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
cars = pd.concat([cars1, cars2], axis=0, ignore_index=True)

In [12]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 28.1+ KB

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

### Step 8. Add the column owners to cars

In [16]:
cars['owners'] = pd.Series(np.random.randint(15000, 73001, len(cars)))
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,64696
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,34222
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,20255
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,66237
4,17.0,8,302,140,3449,10.5,70,1,ford torino,23254