# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
data_url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(data_url)

In [3]:
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [4]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [6]:
crime.Year.head()

0    1960
1    1961
2    1962
3    1963
4    1964
Name: Year, dtype: int64

In [11]:
crime.Year = pd.to_datetime(crime.Year, format="%Y")
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 6. Set the Year column as the index of the dataframe

In [12]:
crime.set_index('Year', inplace=True)

### Step 7. Delete the Total column

In [15]:
crime.drop(columns='Total', inplace=True)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [27]:
crimes = crime.resample(rule='10Y').sum()

population = crime.Population.resample(rule='10Y').max()
crimes.Population = population

crimes

/var/folders/70/ct16jhn17gs7b12kpy88gcs00000gn/T/ipykernel_79679/1436007915.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  crimes = crime.resample(rule='10Y').sum()
/var/folders/70/ct16jhn17gs7b12kpy88gcs00000gn/T/ipykernel_79679/1436007915.py:3: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  population = crime.Population.resample(rule='10Y').max()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-12-31,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-12-31,203235298,4585290,49424400,113070,257520,1875530,2339170,14614000,28918100,5892300
1980-12-31,225349264,10213630,96088300,199270,599570,4375000,5039800,30076200,56068900,9943200
1990-12-31,248709873,14549938,117640700,206839,885209,5456539,8001340,32352194,72849053,12439611
2000-12-31,281421906,17132404,116580585,203810,986445,5517676,10425809,25727107,76705256,14148520
2010-12-31,309330219,13793818,99874408,162254,917914,4191439,8522262,21682641,67203302,10992397
2020-12-31,318857056,4820769,34983325,58095,335466,1380720,2982298,7956713,24197097,2829515

### Step 9. What is the most dangerous decade to live in the US?

In [29]:
crimes.idxmax()

Population           2020-12-31
Violent              2000-12-31
Property             1990-12-31
Murder               1990-12-31
Forcible_Rape        2000-12-31
Robbery              2000-12-31
Aggravated_assault   2000-12-31
Burglary             1990-12-31
Larceny_Theft        2000-12-31
Vehicle_Theft        2000-12-31
dtype: datetime64[ns]